/* STYLE RADIO BTN */
input:checked+label {
    background-color: #5D6186;
    opacity: 50;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background: rgb(137, 137, 137);
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 129, 129);
}